body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

.hidden{
  display: none;
}

#request-count {
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  width: 20px;
  height: 20px;
  z-index: 1;
  right: -17px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.select-item{
  &:hover, &.active {
    background-color: $primary-emphasis;
  }
}
