//@import "reset";

@import "variables";

@import "small";

@media only screen and (min-width: 560px) {
  @import "medium";
}

@media only screen and (min-width: 1140px) {
  @import "large";
}

@import "bootstrapChangesDark";

@import "../node_modules/bootstrap/scss/bootstrap";

.table > tbody > tr > td > input:not(:read-only):not(:disabled),
.table > tbody > tr > td > select {
  &:hover,
  &:focus {
    border-color: $link-hover-color;
  }
}

.navbar-brand {
  color: $navbar-dark-color;

  &:hover {
    color: $navbar-dark-hover-color;
  }
}

